/* style.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.heading {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.paragraph {
    color: #555;
    font-size: 1.2rem;
}
